{% extends "account/profile_base.html" %}
{% load i18n static django_bootstrap5 svg allauth %}

{% block tabs %}
<a href="{% url 'profile' %}" class="list-group-item list-group-item-action" >
    <span class="me-2">{% svg 'gear' %}</span>
    {% translate 'ProfileSettings' %}
</a>
<a href="{% url 'account_email' %}" class="list-group-item list-group-item-action">
    <span class="me-2">{% svg 'envelope-at' %}</span>
    {% translate 'EmailSettings' %}
</a>
<a href="{% url 'account_set_password' %}" class="list-group-item list-group-item-action-secondary disabled" aria-current="true">
    <span class="me-2">{% svg 'lock' %}</span>
    {% translate 'SecuritySettings' %}
</a>
{% endblock %}
{% block profile_content %}
    <h2 class="mb-3">{% translate 'SecuritySettings' %}</h2>
    {% include "account/messages.html" %}
    <form action="{% url 'account_set_password' %}" method="post">{% csrf_token %}
        {% bootstrap_form form %}
        {% translate 'SetPassword' as set_password %}
        {% bootstrap_button button_type="submit" name="action" button_class="btn-primary" content=set_password %}
    </form>
{% endblock %}