{% extends "base.html" %}
{% load i18n %}
{% block title %}{% translate 'PasswordReset' %} | WAIT!{% endblock %}
{% block content %}
<section class="py-3 py-lg-5">
    <div class="container">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{% translate 'PasswordReset' %}</h1>
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>
                    {% blocktrans %}Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.{% endblocktrans %}
                </p>
                <form action="{% url 'account_reset_password' %}" method="post">{% csrf_token %}
                    {% bootstrap_form form %}
                    {% translate 'ResetPassword' as reset_password %}
                    {% bootstrap_button button_type="submit" name="action" button_class="btn-primary" content=reset_password  %}
                </form>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                <a href="{% url 'index' %}">{% translate 'BackOnMain' %}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}