asgiref==3.7.2 ; python_version >= "3.10" and python_version < "3.11"
django-inline-svg==0.1.1 ; python_version >= "3.10" and python_version < "3.11"
django-modeltranslation==0.18.9 ; python_version >= "3.10" and python_version < "3.11"
django==4.2 ; python_version >= "3.10" and python_version < "3.11"
gunicorn==20.1.0 ; python_version >= "3.10" and python_version < "3.11"
pillow==9.5.0 ; python_version >= "3.10" and python_version < "3.11"
psycopg2-binary==2.9.6 ; python_version >= "3.10" and python_version < "3.11"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
setuptools==67.8.0 ; python_version >= "3.10" and python_version < "3.11"
sqlparse==0.4.4 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.6.2 ; python_version >= "3.10" and python_version < "3.11"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
