asgiref==3.6.0; python_version >= "3.8"
django-inline-svg==0.1.1
django-modeltranslation==0.18.9
django==4.2; python_version >= "3.8"
gunicorn==20.1.0; python_version >= "3.5"
pillow==9.5.0; python_version >= "3.7"
psycopg2-binary==2.9.6; python_version >= "3.6"
python-dotenv==1.0.0; python_version >= "3.8"
sqlparse==0.4.4; python_version >= "3.8"
typing-extensions==4.5.0; python_version >= "3.7"
tzdata==2023.3; sys_platform == "win32" and python_version >= "3.8"
