.carousel-container {
  --main-height: auto;
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 20px;
  max-height: calc(var(--main-height) * 1px);
  overflow: hidden;
}

.carousel-container img {
  width: 100%;
  cursor: pointer;
}

.carousel-main img {
  cursor: zoom-in;
}

.carousel-aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: calc(var(--main-height) * 1px);
}


.carousel-aside img {
  opacity: 0.7;
}

.carousel-aside img:hover {
  opacity: 1;
  transition: opacity 0.5s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #BDBDBD;
}

::-webkit-scrollbar-thumb:hover {
  background: #6E6E6E;
}

#carouselModal .modal-body {
  overflow: hidden;
}

.carousel-aside .image-active {
  opacity: 1;
}

@media (max-width: 600px) {
  .carousel-container {
    column-gap: 10px;
  }

  .carousel-aside {
    gap: 10px;
  }
}