{% extends "base.html" %}
{% load i18n static %}
{% block content %}
<section class="py-3 py-lg-5">
    <div class="container">

        {% if category %}
        <!-- Category block -->
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ category.int_name }}</h1>
        <div class="row flex-lg-row">
            {% for product in products %}
            <div class="col-12 col-lg-3 mb-4">
                {% include "components/product_card.html" with product=product %}
            </div>
            {% endfor %}
        </div>

        {% else %}
        <!-- Categories block -->
        <div class="row row-cols-2 row-cols-lg-4">
            {% for category in categories %}
            <div class="col mb-4">
                <div class="card">
                    <a href="{% url 'catalog' category=category.name %}">
                        <img src="{{ category.image.url }}" class="card-img-top" alt="{% if category.image_alt %}{{ category.image_alt }}{% else %}{{ category.int_name }}{% endif %}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-text">{{ category.int_name }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row flex-lg-row">
            <div class="fs-3 fw-bold text-center mb-4">{% translate 'IndexProductsTitle' %}</div>
            {% for product in products %}
            <div class="col-12 col-lg-3 mb-4">
                {% include "components/product_card.html" with product=product %}
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</section>
{% endblock %}