{% extends "base.html" %}
{% load i18n static svg %}
{% block title %}WAIT! | {% translate 'IndexTitle' %}{% endblock %}
{% block content %}
<section class="py-lg-5">
    <div class="container">
        <div class="row flex-lg-row align-items-center">
            <div class="col-12 col-lg-4 mt-4 mt-lg-0">
                {% if carousel_items %}
                    {% include "components/index_carousel.html" with carousel_items=carousel_items %}
                {% endif %}
            </div>
            <div class="col-12 col-lg-8 p-4">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{% translate 'HeroTitle' %}</h1>
                <p class="lead">{% translate 'HeroLead' %}</p>
                <div>
                    <a href="{% url 'catalog' %}">
                        <button type="button" class="btn btn-dark btn-lg me-2">{% translate 'HeroButton' %}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-secondary bg-gradient bg-opacity-25">
    {% include "components/features_list.html" %}
</section>
<section class="py-3 py-lg-5">
    <div class="container">
        <h5 class="fs-3 fw-bold text-center mb-4">{% translate 'IndexProductsTitle' %}</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-6 col-lg-3 mb-2">
                    {% include "components/product_card.html" with product=product %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}