{% extends "base.html" %}
{% load i18n static %}
{% block content %}
<section class="py-3 py-lg-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-dark" href="{% url 'index' %}">{% translate 'HeaderHome' %}</a></li>
              <li class="breadcrumb-item"><a class="text-dark" href="{% url 'catalog' %}">{% translate 'Catalog' %}</a></li>
              <li class="breadcrumb-item"><a class="text-dark" href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
              <li class="breadcrumb-item text-dark active" aria-current="page">{{ product.name }}</li>
            </ol>
        </nav>
        <div class="row row-cols-1 row-cols-lg-2 flex-lg-row m-lg-5">
            <div class="col">
                <div class="border">
                    <div id="carouselProductDetail" class="carousel slide">
                        {% if product.get_all_images %}
                        <div class="carousel-indicators">
                            {% for item in product.get_all_images %}
                                <button type="button" data-bs-target="#carouselProductDetail" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="carousel-inner">
                            {% if product.get_all_images %}
                                {% for image in product.get_all_images %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.image_alt }}">
                                    </div>  
                                {% endfor %}
                            {% else %}
                                <div class="carousel-item active">
                                    <img src="{{ product.get_default_image }}" class="d-block w-100" alt="Empty">
                                </div> 
                            {% endif %}
                        </div>
                        {% if product.get_all_images %}
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductDetail" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselProductDetail" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <h1 class="display-6 fw-bold text-body-emphasis lh-1 mb-3">{{ product.name }}</h1>
                    <hr>
                    <p class="fs-3">{{ product.price }} ₽</p>
                    <p class="fs-5">{{ product.description }}</p>
                    {% if product.get_all_features %}
                    <ul class="lh-lg">
                        {% for feature in product.get_all_features %}
                        <li class="fs-6">{{ feature }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                        <a href="#">
                            <button type="button" class="btn btn-dark btn-lg me-2">{% translate 'Buy' %}</button>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}