{% load static i18n %}
<p>
    <picture>
        <source srcset="{% static 'images/about_1.webp' %}" type="image/webp">
        <img class="d-none d-md-block float-end py-3 ps-3" src="{% static 'images/about_1.jpg' %}" alt="ДИке егет машина кәүсәсендә утыралар" style="width: 35%;">
    </picture>
    <blockquote class="blockquote">
        <p>
            Upcycling (Апсайклинг) – бу иске әйберләр яки материалларның  бөтенләй башка вазифалар өчен кулланыла торган яңа продуктка әйләнү процессы.
        </p>
    </blockquote>
    WAIT! – тотрыклы дизайн белән мавыгучы һәм Казанда яшүче ике фикердәш. Бу тема безне 2016 елдан бирле кызыксындыра, шул вакыттан башлап без катгый таләпләребезгә туры килердәй  төрле материаллар һәм формаларны өйрәндек.
    Безнеңчә, әзерләнгән әйберләр стильле генә түгел , ә нык һәм функциональ дә булырга тиешләр. Күп тапкыр талпынулар һәм хаталар аша узып, шактый вакыт үткәннән соң, ниһаять, без сезгә әзер сумкалар һәм рюкзаклар коллекциябезне тәкъдим итәргә әзербез.
    <br><br>
    Без йөк ташу һәм төзелеш өлкәсендә кулдланыла торган нык, уңайлы һәм дымлылыкка каршы торучан материал саналган кабат эшкәртелгән тенттан аксессуарлар җитештерәбез.
    Файдалана торган фурнитурабыз дөнья күләмендә туристик һәм хәрби сәнәгатьтә киң кулланыла. Шул рәвешле сумкаларыбыз ышанычлы һәм төрле яктан  уңайлы булулары белән аерылып торалар, бу исә аларны шәһәр җирлегендә дә, анан читтә дә яхшы компаньон буларак таныта.
    <br><br>
    Максатыбыз – аңлы кулланучылар принципларына туры килердәй сыйфатлы һәм күркәм продукт булдыру.
</p>
<picture>
    <source srcset="{% static 'images/about_1.webp' %}" type="image/webp">
    <img class="d-block d-md-none img-fluid" src="{% static 'images/about_1.jpg' %}" alt="Ике егет машина кәүсәсендә утыралар">
</picture>