{% load static i18n %}
<p>
    <picture>
        <source srcset="{% static 'images/about_1.webp' %}" type="image/webp">
        <img class="d-none d-md-block float-end py-3 ps-3 img_responsive" src="{% static 'images/about_1.jpg' %}" alt="Два парня сидят в багажнике автомобиля" width="1848" height="2309" style="width: 35%;">
    </picture>
    <blockquote class="blockquote">
        <p>
            Upcycling (Апсайклинг) – это процесс, при котором старые вещи или материалы преобразуют в новый продукт, как правило совсем иной функциональности.
        </p>
    </blockquote>
    WAIT! — двое единомышленников из Казани, увлеченные устойчивым дизайном.
    Эта тема заинтересовала нас еще в 2016 году, с тех пор мы изучали различные материалы и формы, которые бы соответствовали нашим жестким требованиям.
    Готовое изделие должно быть не просто стильным, но так же прочным и функциональным.
    Спустя время и большое количество проб и ошибок, мы готовы вам представить нашу коллекцию сумок и рюкзаков.
    <br><br>
    Мы производим аксессуары из переработанных тентов, прочного, неприхотливого и водоотталкивающего материала, который используется в грузовых перевозках и строительстве.
    Фурнитура, которую мы применяем, широко используется в туристической и военной индустрии по всему миру.
    Так наши сумки получились надежными и функциональными, что делает их отличным компаньоном в городе и за его пределами.
    <br><br>
    Сделать качественный и яркий продукт, который соответствовал бы принципам осознанного потребления вот наша цель.
</p>
<picture>
    <source srcset="{% static 'images/about_1.webp' %}" type="image/webp">
    <img class="d-block d-md-none img-fluid img_responsive" src="{% static 'images/about_1.jpg' %}" width="1848" height="2309" alt="Два парня сидят в багажнике автомобиля">
</picture>