{% load static i18n %}
<p>
    <img class="d-none d-md-block float-end py-3 ps-3" src="{% static 'images/about_1.jpg' %}" alt="Two guys sitting on trunk of blue car" style="width: 35%;">
    <blockquote class="blockquote">
        <p>
            Upcycling (Апсайклинг) - это процесс, при котором старые вещи или материалы преобразуют в новый продукт, как правило совсем иной функциональности.
        </p>
    </blockquote>
    WAIT! — two like-minded people from Kazan, passionate about sustainable design.
    This topic interested us back in 2016, since then we have been studying various materials and forms that would meet our strict requirements.
    The finished product should not just be stylish, but also durable and functional.
    After some time and a lot of trial and error, we are ready to present you our collection of bags and backpacks.
    <br><br>
    We produce accessories from recycled awnings, a durable, unpretentious and water-repellent material that is used in freight transportation and construction.
    The fittings we use are widely used in the tourism and military industries around the world.
    So our bags turned out to be reliable and functional, which makes them an excellent companion in the city and beyond.
    <br><br>
    To make a high-quality and bright product that would comply with the principles of conscious consumption is our goal.
</p>
<img class="d-block d-md-none img-fluid" src="{% static 'images/about_1.jpg' %}" alt="Two guys sitting on trunk of blue car">