{% load i18n static %}
<div class="card">
    <a href="{% url 'product' product.category.category_slug product.id %}">
        <div class="card-img-wrap rounded-top">
            <img src="{{ product.get_default_image }}" class="card-img-top zoom" alt="{{ product.name }}">
        </div>
    </a>
    <div class="card-body">
        <h5 class="card-title fs-3">{{ product.int_name }}</h5>
        <p class="fs-4">{{ product.price }} ₽</p>
        <div class="d-grid">
            <a class="btn btn-outline-dark fs-5 fw-bold" href="#">{% translate 'Buy' %}</a>
        </div>
    </div>
</div>