{% load i18n static svg %}
{% if product.get_all_images.count > 1 %}
<div class="carousel-container">
  <div class="carousel-main">
    <picture>
      <source srcset="{{ product.get_default_image.image_webp.url }}" type="image/webp">
      <img class="testimg" src="{{ product.get_default_image.image.url }}" width="{{ image.image_width }}" height="{{ image.image_height }}" class="img_responsive" alt="main_image" />
    </picture>
  </div>
  <div class="carousel-aside">
    {% for image in product.get_all_images %}
      <picture>
        <source srcset="{{ image.image_webp.url }}" type="image/webp">
        <img src="{{ image.image.url }}" width="{{ image.image_width }}" height="{{ image.image_height }}" class="img_responsive" alt="{{ image.image_alt}}" />
      </picture>
    {% endfor %}
  </div>
</div>
<div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div role='button' class="modal-body position-relative p-0 d-flex justify-content-center">
        <div class="modal-bg rounded position-absolute top-0 bottom-0 end-0 start-0"></div>
        <div class="modal-left position-absolute top-0 bottom-0 end-50 start-0"></div>
        <div class="modal-right position-absolute top-0 bottom-0 start-50 end-0"></div>
        <button type="button" class="btn-close fs-2 position-absolute top-0 end-0" data-bs-dismiss="modal" aria-label="Close"></button>
        <img draggable="false" class="img_responsive rounded" src="{{ product.get_default_image.image.url }}" width="{{ product.get_default_image.image_width }}" height="{{ product.get_default_image.image_height }}" alt="main_image" style="max-width: 100%;"/>
      </div>
    </div>
  </div>
</div>
{% endif %}