{% load i18n static svg %} {% if product.get_all_images.count > 1 %}
<div class="carousel-container" tabindex="0">
  <div class="carousel-main" data-bs-toggle="modal" data-bs-target="#carouselModal">
    <img src="{{ product.get_default_image }}" alt="main_image" />
  </div>
  <div class="carousel-aside">
    {% for image in product.get_all_images %}
      <img src="{{ image.image.url }}" alt="{{ image.image_alt}}" />
    {% endfor %}
  </div>
</div>

<div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fs-5" id="carouselModalLabel">{{ product.name }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <img draggable="false" class="rounded" src="{{ product.get_default_image }}" alt="main_image" style="max-width: 100%;"/>
      </div>
    </div>
  </div>
</div>
{% endif %}