{% extends "base.html" %}
{% load i18n static %}
{% block title %}{{flatpage.title}} | WAIT!{% endblock %}
{% block content %}
<section class="py-3 py-lg-5">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-dark" href="{% url 'index' %}">{% translate 'HeaderHome' %}</a></li>
              <li class="breadcrumb-item text-dark active" aria-current="page">{{ flatpage.title }}</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ flatpage.title }}</h1>
                {{ flatpage.content }}
            </div>
        </div>
    </div>
</section>
{% endblock %}